BancoCK/Connected Services/ServicesReferences/serviciosPrueba.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="abrirConexion">
        <s:complexType />
      </s:element>
      <s:element name="abrirConexionResponse">
        <s:complexType />
      </s:element>
      <s:element name="cerrarConexion">
        <s:complexType />
      </s:element>
      <s:element name="cerrarConexionResponse">
        <s:complexType />
      </s:element>
      <s:element name="devolverPrestamosClientes">
        <s:complexType />
      </s:element>
      <s:element name="devolverPrestamosClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devolverPrestamosClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarInformacionClienteNoAutenticado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarInformacionClienteNoAutenticadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="mostrarDescripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mostrarDescripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mostrarDescripcionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mostrarRequisitos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mostrarRequisitosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mostrarRequisitosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPrestamoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaCredito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estadoCredito" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="plazoAños" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cuotaMensual" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="salarioNeto" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="añosLaborando" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="salarioBruto" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPrestamoClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="registrarPrestamoClienteOriginal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaCredito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estadoCredito" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="plazoAños" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cuotaMensual" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="salarioNeto" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="añosLaborando" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="salarioBruto" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPrestamoClienteOriginalResponse">
        <s:complexType />
      </s:element>
      <s:element name="CredencialesUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CredencialesUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CredencialesUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrimerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SegundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoCedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="asignarAnalista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idPrestamo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="asignarAnalistaResponse">
        <s:complexType />
      </s:element>
      <s:element name="devolverPrestamos_nombre_cedula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverPrestamos_nombre_cedulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devolverPrestamos_nombre_cedulaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverPrestamos_tipoPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverPrestamos_tipoPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devolverPrestamos_tipoPrestamoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiarEstadoPrestamoSolicitud">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPrestamo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiarEstadoPrestamoSolicitudResponse">
        <s:complexType />
      </s:element>
      <s:element name="devolverCedulaAnalista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverCedulaAnalistaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devolverCedulaAnalistaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarExistenciaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identificacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarExistenciaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarExistenciaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverTasaTipoPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverTasaTipoPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="devolverTasaTipoPrestamoResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviarCorreo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="receptor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviarCorreoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="enviarCorreoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviarCorreoNoLogueado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="receptor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviarCorreoNoLogueadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="enviarCorreoNoLogueadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCorreo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCorreoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCorreoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverLimiteMontoPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverLimiteMontoPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devolverLimiteMontoPrestamoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverLimiteMontoPrestamoDolares">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverLimiteMontoPrestamoDolaresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devolverLimiteMontoPrestamoDolaresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverTasaTipoPrestamoDolares">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverTasaTipoPrestamoDolaresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="devolverTasaTipoPrestamoDolaresResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calcularCuotaMensual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prestamo" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="años" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tasaInteres" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calcularCuotaMensualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calcularCuotaMensualResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverTasaDolaresUsuarioNoLogeado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverTasaDolaresUsuarioNoLogeadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="devolverTasaDolaresUsuarioNoLogeadoResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverTasaColonesUsuarioNoLogeado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverTasaColonesUsuarioNoLogeadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="devolverTasaColonesUsuarioNoLogeadoResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="abrirConexionSoapIn">
    <wsdl:part name="parameters" element="tns:abrirConexion" />
  </wsdl:message>
  <wsdl:message name="abrirConexionSoapOut">
    <wsdl:part name="parameters" element="tns:abrirConexionResponse" />
  </wsdl:message>
  <wsdl:message name="cerrarConexionSoapIn">
    <wsdl:part name="parameters" element="tns:cerrarConexion" />
  </wsdl:message>
  <wsdl:message name="cerrarConexionSoapOut">
    <wsdl:part name="parameters" element="tns:cerrarConexionResponse" />
  </wsdl:message>
  <wsdl:message name="devolverPrestamosClientesSoapIn">
    <wsdl:part name="parameters" element="tns:devolverPrestamosClientes" />
  </wsdl:message>
  <wsdl:message name="devolverPrestamosClientesSoapOut">
    <wsdl:part name="parameters" element="tns:devolverPrestamosClientesResponse" />
  </wsdl:message>
  <wsdl:message name="guardarInformacionClienteNoAutenticadoSoapIn">
    <wsdl:part name="parameters" element="tns:guardarInformacionClienteNoAutenticado" />
  </wsdl:message>
  <wsdl:message name="guardarInformacionClienteNoAutenticadoSoapOut">
    <wsdl:part name="parameters" element="tns:guardarInformacionClienteNoAutenticadoResponse" />
  </wsdl:message>
  <wsdl:message name="mostrarDescripcionSoapIn">
    <wsdl:part name="parameters" element="tns:mostrarDescripcion" />
  </wsdl:message>
  <wsdl:message name="mostrarDescripcionSoapOut">
    <wsdl:part name="parameters" element="tns:mostrarDescripcionResponse" />
  </wsdl:message>
  <wsdl:message name="mostrarRequisitosSoapIn">
    <wsdl:part name="parameters" element="tns:mostrarRequisitos" />
  </wsdl:message>
  <wsdl:message name="mostrarRequisitosSoapOut">
    <wsdl:part name="parameters" element="tns:mostrarRequisitosResponse" />
  </wsdl:message>
  <wsdl:message name="registrarPrestamoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:registrarPrestamoCliente" />
  </wsdl:message>
  <wsdl:message name="registrarPrestamoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:registrarPrestamoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="registrarPrestamoClienteOriginalSoapIn">
    <wsdl:part name="parameters" element="tns:registrarPrestamoClienteOriginal" />
  </wsdl:message>
  <wsdl:message name="registrarPrestamoClienteOriginalSoapOut">
    <wsdl:part name="parameters" element="tns:registrarPrestamoClienteOriginalResponse" />
  </wsdl:message>
  <wsdl:message name="CredencialesUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CredencialesUsuario" />
  </wsdl:message>
  <wsdl:message name="CredencialesUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CredencialesUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="RegistrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="asignarAnalistaSoapIn">
    <wsdl:part name="parameters" element="tns:asignarAnalista" />
  </wsdl:message>
  <wsdl:message name="asignarAnalistaSoapOut">
    <wsdl:part name="parameters" element="tns:asignarAnalistaResponse" />
  </wsdl:message>
  <wsdl:message name="devolverPrestamos_nombre_cedulaSoapIn">
    <wsdl:part name="parameters" element="tns:devolverPrestamos_nombre_cedula" />
  </wsdl:message>
  <wsdl:message name="devolverPrestamos_nombre_cedulaSoapOut">
    <wsdl:part name="parameters" element="tns:devolverPrestamos_nombre_cedulaResponse" />
  </wsdl:message>
  <wsdl:message name="devolverPrestamos_tipoPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:devolverPrestamos_tipoPrestamo" />
  </wsdl:message>
  <wsdl:message name="devolverPrestamos_tipoPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:devolverPrestamos_tipoPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="cambiarEstadoPrestamoSolicitudSoapIn">
    <wsdl:part name="parameters" element="tns:cambiarEstadoPrestamoSolicitud" />
  </wsdl:message>
  <wsdl:message name="cambiarEstadoPrestamoSolicitudSoapOut">
    <wsdl:part name="parameters" element="tns:cambiarEstadoPrestamoSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="devolverCedulaAnalistaSoapIn">
    <wsdl:part name="parameters" element="tns:devolverCedulaAnalista" />
  </wsdl:message>
  <wsdl:message name="devolverCedulaAnalistaSoapOut">
    <wsdl:part name="parameters" element="tns:devolverCedulaAnalistaResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarExistenciaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarExistenciaUsuario" />
  </wsdl:message>
  <wsdl:message name="ValidarExistenciaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarExistenciaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="devolverTasaTipoPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:devolverTasaTipoPrestamo" />
  </wsdl:message>
  <wsdl:message name="devolverTasaTipoPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:devolverTasaTipoPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="enviarCorreoSoapIn">
    <wsdl:part name="parameters" element="tns:enviarCorreo" />
  </wsdl:message>
  <wsdl:message name="enviarCorreoSoapOut">
    <wsdl:part name="parameters" element="tns:enviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="enviarCorreoNoLogueadoSoapIn">
    <wsdl:part name="parameters" element="tns:enviarCorreoNoLogueado" />
  </wsdl:message>
  <wsdl:message name="enviarCorreoNoLogueadoSoapOut">
    <wsdl:part name="parameters" element="tns:enviarCorreoNoLogueadoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCorreoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCorreo" />
  </wsdl:message>
  <wsdl:message name="ObtenerCorreoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="devolverLimiteMontoPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:devolverLimiteMontoPrestamo" />
  </wsdl:message>
  <wsdl:message name="devolverLimiteMontoPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:devolverLimiteMontoPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="devolverLimiteMontoPrestamoDolaresSoapIn">
    <wsdl:part name="parameters" element="tns:devolverLimiteMontoPrestamoDolares" />
  </wsdl:message>
  <wsdl:message name="devolverLimiteMontoPrestamoDolaresSoapOut">
    <wsdl:part name="parameters" element="tns:devolverLimiteMontoPrestamoDolaresResponse" />
  </wsdl:message>
  <wsdl:message name="devolverTasaTipoPrestamoDolaresSoapIn">
    <wsdl:part name="parameters" element="tns:devolverTasaTipoPrestamoDolares" />
  </wsdl:message>
  <wsdl:message name="devolverTasaTipoPrestamoDolaresSoapOut">
    <wsdl:part name="parameters" element="tns:devolverTasaTipoPrestamoDolaresResponse" />
  </wsdl:message>
  <wsdl:message name="calcularCuotaMensualSoapIn">
    <wsdl:part name="parameters" element="tns:calcularCuotaMensual" />
  </wsdl:message>
  <wsdl:message name="calcularCuotaMensualSoapOut">
    <wsdl:part name="parameters" element="tns:calcularCuotaMensualResponse" />
  </wsdl:message>
  <wsdl:message name="devolverTasaDolaresUsuarioNoLogeadoSoapIn">
    <wsdl:part name="parameters" element="tns:devolverTasaDolaresUsuarioNoLogeado" />
  </wsdl:message>
  <wsdl:message name="devolverTasaDolaresUsuarioNoLogeadoSoapOut">
    <wsdl:part name="parameters" element="tns:devolverTasaDolaresUsuarioNoLogeadoResponse" />
  </wsdl:message>
  <wsdl:message name="devolverTasaColonesUsuarioNoLogeadoSoapIn">
    <wsdl:part name="parameters" element="tns:devolverTasaColonesUsuarioNoLogeado" />
  </wsdl:message>
  <wsdl:message name="devolverTasaColonesUsuarioNoLogeadoSoapOut">
    <wsdl:part name="parameters" element="tns:devolverTasaColonesUsuarioNoLogeadoResponse" />
  </wsdl:message>
  <wsdl:portType name="serviciosPruebaSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="abrirConexion">
      <wsdl:input message="tns:abrirConexionSoapIn" />
      <wsdl:output message="tns:abrirConexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cerrarConexion">
      <wsdl:input message="tns:cerrarConexionSoapIn" />
      <wsdl:output message="tns:cerrarConexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolverPrestamosClientes">
      <wsdl:input message="tns:devolverPrestamosClientesSoapIn" />
      <wsdl:output message="tns:devolverPrestamosClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarInformacionClienteNoAutenticado">
      <wsdl:input message="tns:guardarInformacionClienteNoAutenticadoSoapIn" />
      <wsdl:output message="tns:guardarInformacionClienteNoAutenticadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mostrarDescripcion">
      <wsdl:input message="tns:mostrarDescripcionSoapIn" />
      <wsdl:output message="tns:mostrarDescripcionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mostrarRequisitos">
      <wsdl:input message="tns:mostrarRequisitosSoapIn" />
      <wsdl:output message="tns:mostrarRequisitosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarPrestamoCliente">
      <wsdl:input message="tns:registrarPrestamoClienteSoapIn" />
      <wsdl:output message="tns:registrarPrestamoClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarPrestamoClienteOriginal">
      <wsdl:input message="tns:registrarPrestamoClienteOriginalSoapIn" />
      <wsdl:output message="tns:registrarPrestamoClienteOriginalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CredencialesUsuario">
      <wsdl:input message="tns:CredencialesUsuarioSoapIn" />
      <wsdl:output message="tns:CredencialesUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input message="tns:RegistrarUsuarioSoapIn" />
      <wsdl:output message="tns:RegistrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="asignarAnalista">
      <wsdl:input message="tns:asignarAnalistaSoapIn" />
      <wsdl:output message="tns:asignarAnalistaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolverPrestamos_nombre_cedula">
      <wsdl:input message="tns:devolverPrestamos_nombre_cedulaSoapIn" />
      <wsdl:output message="tns:devolverPrestamos_nombre_cedulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolverPrestamos_tipoPrestamo">
      <wsdl:input message="tns:devolverPrestamos_tipoPrestamoSoapIn" />
      <wsdl:output message="tns:devolverPrestamos_tipoPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cambiarEstadoPrestamoSolicitud">
      <wsdl:input message="tns:cambiarEstadoPrestamoSolicitudSoapIn" />
      <wsdl:output message="tns:cambiarEstadoPrestamoSolicitudSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolverCedulaAnalista">
      <wsdl:input message="tns:devolverCedulaAnalistaSoapIn" />
      <wsdl:output message="tns:devolverCedulaAnalistaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarExistenciaUsuario">
      <wsdl:input message="tns:ValidarExistenciaUsuarioSoapIn" />
      <wsdl:output message="tns:ValidarExistenciaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolverTasaTipoPrestamo">
      <wsdl:input message="tns:devolverTasaTipoPrestamoSoapIn" />
      <wsdl:output message="tns:devolverTasaTipoPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="enviarCorreo">
      <wsdl:input message="tns:enviarCorreoSoapIn" />
      <wsdl:output message="tns:enviarCorreoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="enviarCorreoNoLogueado">
      <wsdl:input message="tns:enviarCorreoNoLogueadoSoapIn" />
      <wsdl:output message="tns:enviarCorreoNoLogueadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCorreo">
      <wsdl:input message="tns:ObtenerCorreoSoapIn" />
      <wsdl:output message="tns:ObtenerCorreoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolverLimiteMontoPrestamo">
      <wsdl:input message="tns:devolverLimiteMontoPrestamoSoapIn" />
      <wsdl:output message="tns:devolverLimiteMontoPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolverLimiteMontoPrestamoDolares">
      <wsdl:input message="tns:devolverLimiteMontoPrestamoDolaresSoapIn" />
      <wsdl:output message="tns:devolverLimiteMontoPrestamoDolaresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolverTasaTipoPrestamoDolares">
      <wsdl:input message="tns:devolverTasaTipoPrestamoDolaresSoapIn" />
      <wsdl:output message="tns:devolverTasaTipoPrestamoDolaresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calcularCuotaMensual">
      <wsdl:input message="tns:calcularCuotaMensualSoapIn" />
      <wsdl:output message="tns:calcularCuotaMensualSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolverTasaDolaresUsuarioNoLogeado">
      <wsdl:input message="tns:devolverTasaDolaresUsuarioNoLogeadoSoapIn" />
      <wsdl:output message="tns:devolverTasaDolaresUsuarioNoLogeadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolverTasaColonesUsuarioNoLogeado">
      <wsdl:input message="tns:devolverTasaColonesUsuarioNoLogeadoSoapIn" />
      <wsdl:output message="tns:devolverTasaColonesUsuarioNoLogeadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviciosPruebaSoap" type="tns:serviciosPruebaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="abrirConexion">
      <soap:operation soapAction="http://tempuri.org/abrirConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cerrarConexion">
      <soap:operation soapAction="http://tempuri.org/cerrarConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverPrestamosClientes">
      <soap:operation soapAction="http://tempuri.org/devolverPrestamosClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarInformacionClienteNoAutenticado">
      <soap:operation soapAction="http://tempuri.org/guardarInformacionClienteNoAutenticado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarDescripcion">
      <soap:operation soapAction="http://tempuri.org/mostrarDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarRequisitos">
      <soap:operation soapAction="http://tempuri.org/mostrarRequisitos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPrestamoCliente">
      <soap:operation soapAction="http://tempuri.org/registrarPrestamoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPrestamoClienteOriginal">
      <soap:operation soapAction="http://tempuri.org/registrarPrestamoClienteOriginal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CredencialesUsuario">
      <soap:operation soapAction="http://tempuri.org/CredencialesUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asignarAnalista">
      <soap:operation soapAction="http://tempuri.org/asignarAnalista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverPrestamos_nombre_cedula">
      <soap:operation soapAction="http://tempuri.org/devolverPrestamos_nombre_cedula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverPrestamos_tipoPrestamo">
      <soap:operation soapAction="http://tempuri.org/devolverPrestamos_tipoPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarEstadoPrestamoSolicitud">
      <soap:operation soapAction="http://tempuri.org/cambiarEstadoPrestamoSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverCedulaAnalista">
      <soap:operation soapAction="http://tempuri.org/devolverCedulaAnalista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarExistenciaUsuario">
      <soap:operation soapAction="http://tempuri.org/ValidarExistenciaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverTasaTipoPrestamo">
      <soap:operation soapAction="http://tempuri.org/devolverTasaTipoPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarCorreo">
      <soap:operation soapAction="http://tempuri.org/enviarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarCorreoNoLogueado">
      <soap:operation soapAction="http://tempuri.org/enviarCorreoNoLogueado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCorreo">
      <soap:operation soapAction="http://tempuri.org/ObtenerCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverLimiteMontoPrestamo">
      <soap:operation soapAction="http://tempuri.org/devolverLimiteMontoPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverLimiteMontoPrestamoDolares">
      <soap:operation soapAction="http://tempuri.org/devolverLimiteMontoPrestamoDolares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverTasaTipoPrestamoDolares">
      <soap:operation soapAction="http://tempuri.org/devolverTasaTipoPrestamoDolares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcularCuotaMensual">
      <soap:operation soapAction="http://tempuri.org/calcularCuotaMensual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverTasaDolaresUsuarioNoLogeado">
      <soap:operation soapAction="http://tempuri.org/devolverTasaDolaresUsuarioNoLogeado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverTasaColonesUsuarioNoLogeado">
      <soap:operation soapAction="http://tempuri.org/devolverTasaColonesUsuarioNoLogeado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviciosPruebaSoap12" type="tns:serviciosPruebaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="abrirConexion">
      <soap12:operation soapAction="http://tempuri.org/abrirConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cerrarConexion">
      <soap12:operation soapAction="http://tempuri.org/cerrarConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverPrestamosClientes">
      <soap12:operation soapAction="http://tempuri.org/devolverPrestamosClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarInformacionClienteNoAutenticado">
      <soap12:operation soapAction="http://tempuri.org/guardarInformacionClienteNoAutenticado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarDescripcion">
      <soap12:operation soapAction="http://tempuri.org/mostrarDescripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarRequisitos">
      <soap12:operation soapAction="http://tempuri.org/mostrarRequisitos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPrestamoCliente">
      <soap12:operation soapAction="http://tempuri.org/registrarPrestamoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPrestamoClienteOriginal">
      <soap12:operation soapAction="http://tempuri.org/registrarPrestamoClienteOriginal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CredencialesUsuario">
      <soap12:operation soapAction="http://tempuri.org/CredencialesUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asignarAnalista">
      <soap12:operation soapAction="http://tempuri.org/asignarAnalista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverPrestamos_nombre_cedula">
      <soap12:operation soapAction="http://tempuri.org/devolverPrestamos_nombre_cedula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverPrestamos_tipoPrestamo">
      <soap12:operation soapAction="http://tempuri.org/devolverPrestamos_tipoPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarEstadoPrestamoSolicitud">
      <soap12:operation soapAction="http://tempuri.org/cambiarEstadoPrestamoSolicitud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverCedulaAnalista">
      <soap12:operation soapAction="http://tempuri.org/devolverCedulaAnalista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarExistenciaUsuario">
      <soap12:operation soapAction="http://tempuri.org/ValidarExistenciaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverTasaTipoPrestamo">
      <soap12:operation soapAction="http://tempuri.org/devolverTasaTipoPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarCorreo">
      <soap12:operation soapAction="http://tempuri.org/enviarCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarCorreoNoLogueado">
      <soap12:operation soapAction="http://tempuri.org/enviarCorreoNoLogueado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCorreo">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverLimiteMontoPrestamo">
      <soap12:operation soapAction="http://tempuri.org/devolverLimiteMontoPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverLimiteMontoPrestamoDolares">
      <soap12:operation soapAction="http://tempuri.org/devolverLimiteMontoPrestamoDolares" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverTasaTipoPrestamoDolares">
      <soap12:operation soapAction="http://tempuri.org/devolverTasaTipoPrestamoDolares" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcularCuotaMensual">
      <soap12:operation soapAction="http://tempuri.org/calcularCuotaMensual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverTasaDolaresUsuarioNoLogeado">
      <soap12:operation soapAction="http://tempuri.org/devolverTasaDolaresUsuarioNoLogeado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverTasaColonesUsuarioNoLogeado">
      <soap12:operation soapAction="http://tempuri.org/devolverTasaColonesUsuarioNoLogeado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviciosPrueba">
    <wsdl:port name="serviciosPruebaSoap" binding="tns:serviciosPruebaSoap">
      <soap:address location="https://localhost:44341/serviciosPrueba.asmx" />
    </wsdl:port>
    <wsdl:port name="serviciosPruebaSoap12" binding="tns:serviciosPruebaSoap12">
      <soap12:address location="https://localhost:44341/serviciosPrueba.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>